<!-- ═══ SELL POPUP ═══ -->
<div class="sell-popup-overlay" id="sellOverlay">
  <div class="sell-popup">
    <div class="sell-popup__head">
      <div class="sell-popup__title">
        <div class="sell-popup__logo" id="sellPopLogo"></div>
        <span class="sell-popup__nm" id="sellPopNm"></span>
        <span class="sell-popup__tag">NET SELL TOP 5</span>
      </div>
      <button class="sell-popup__close" id="sellPopClose">&times;</button>
    </div>
    <div class="sell-popup__body" id="sellPopBody"></div>
  </div>
</div>

<div class="modal-overlay" id="mo">
  <div class="modal-box">
    <div class="mo-hd">
      <div><div class="mo-nm" id="mo-nm"></div><div class="mo-cd" id="mo-cd"></div></div>
      <button class="mo-x" id="mo-x">&times;</button>
    </div>
    <div class="mo-div"></div>
    <div id="mo-bd"></div>
  </div>
</div>
