{% extends "base.html" %}

{% block body_attrs %}data-refresh-interval="{{ refresh_interval }}"{% endblock %}

{% block content %}
  {% include "partials/header.html" %}

  <div class="content">
    <div class="data-grid">
      {% include "partials/market_pulse.html" %}
      {% include "partials/stealth_accumulation.html" %}
      {% include "partials/foreign_weight_top.html" %}
      {% include "partials/consecutive_buy_top.html" %}
      {% include "partials/foreign_flow.html" %}
      {% include "partials/sector_flow.html" %}
      {% include "partials/institution_desk.html" %}
      {% include "partials/program_trading.html" %}
    </div>
  </div>

  {% include "partials/watermark.html" %}
  {% include "partials/modals.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
